
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
}
.item1{
	background-color:green;
	width:100px;
	height:100px;
}
.item2{
	background-color:red;
	width:100px;
	height:100px;
}
.item3{
	background-color:blue;
	width:100px;
	height:100px;
}